body {
	background: url('../images/gray_jean.png') repeat;
	margin: 0;
	padding: 0;
}

hr {
	width: 760px;
	margin: 15px 0 15px 20px;
}

h1, h2, h3, p {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	width: 760px;
}

h2 {
	margin: 60px 0 0 20px;
	color: #f8981d;
	size: 20px;
	text-shadow: 1px 1px 1px #CCC;
	font-weight: 300;

}

h3 {
	margin: 0 0 0 20px;
	color: #262626;
	font-weight: 300;
	text-shadow: 1px 1px 0px #CCC;
}

h4 {
	font-family: "Myriad Pro", Helvetica, sans-serif; 
	font-size: 15px;
	margin: 25px 0 -10px 20px;
}

p {
	margin: 0 0 0 20px;
}

p a {
	color:#f8981d;
	text-decoration:none;
	text-shadow: 1px 1px 1px #777;
}

p a:hover {
	color:#FFF;
	text-decoration:none;
	text-shadow: 1px 1px 1px #777;
}

#balihoo {
	font-family: "Myriad-Pro", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	margin: 55px 0 0 20px;
	font-size: 45px;
	font-weight: 800;
	color: #f8981d;
	letter-spacing:-3px;
	text-shadow: 1px 1px 1px #CCC;
	float: left;
	width: 153px;
}

#styleGuide {
	font-family: "Myriad-Pro", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	margin: 68px 0 0 0px;
	font-size: 30px;
	font-weight: 300;
	color: #262626;
	float: left;
	width: 300px;
}

#intro {
	width: 760px;
	height: 150px;
	float: none;
}

#intro p {
	float: left;
	width: 760px;
	margin: 20px 0 20px 20px;
}

#sideBar {
	width: 200px;
	height: 100%;
	left: 0;
	position: fixed;
	background: #FFF;
	margin: 0;
	padding: 60px 0 0 0;
	-moz-box-shadow:    3px 3px 5px 6px #AAA;
    -webkit-box-shadow: 3px 3px 5px 6px #AAA;
    box-shadow:         1px 0px 1px 0px #AAA;
	
}

#sideBar ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#sideBar li a {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	font-size: 15px;
	text-decoration: none;
	margin: 0 0 0 20px;
	line-height: 22px;
	padding: 0;
	color: #f8981d;
}

#sideBar li a:hover {
	color: black;
}

#content {
	width:800px;
	float:left;
	margin:0 0 0 200px;
	padding:0;
}

.codeBlock {
	width: 720px;
	height: 100%;
	margin: 20px 0 20px 20px;
	padding: 20px;
	border-radius: 10px;
	background: #262626;
	color: #FFF;
	font-weight: 300;
	font-family: Menlo, Consolas, "Liberation Mono", Monaco, "Lucida Console", monospace;
}

.codeBlock p, .codeBlock b {
	color: #777;
	font-weight: 300;
}

